#home {
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 2rem;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

.homeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeWrapper p {
    font-size: 2.5vw;
    font-weight: 500;
    margin-top: 0;
}

@media only screen and (max-width: 800px) {
    .homeWrapper p {
        font-size: 3vh;
    }
}

.ChatsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}
